*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://www.shutterstock.com/image-photo/clock-calendar-bright-sky-time-260nw-1940424847.jpg);
    background-size: cover;
}